{% extends "users/base.html" %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Welcome {{ user.username }}!</h2>
          <h2> Here are your favorite products... </h2>
          <body>
            <div class="container">
              <div class="row">
                      {% for product in products %}
                          <div class="col-sm-4 card-space">
                              <div class="card" style="width: 18rem;">
                                  <div class="card-body">
                                      <h5 class="card-title">{{ product.name }} </h5>
                                      <p class="card-text">Ingredients: {{ product.ingredients }}</p>
                                      <p class="card-text">Instructions: {{ product.description }}</p>
                                      <p class="card-text">Great for {{ product.treatment_type }}!</p>
                                      <a href="products:remove_from_profile?product_name={{ product.name }}" class="btn btn-outline-info">Remove</a>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}
                      </div> 
            </body>
{% endblock content %}
