{% extends "users/base.html" %}
{% block content %}
{% load static %}
    <! DOCTYPE html>
    <html>
        <title>Products</title>
        <body>
            <div class="card-body">
                {% for product in products %}
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }} </h5>
                    <p class="card-text">Ingredients: {{ product.ingredients }}</p>
                    <p class="card-text">Instructions: {{ product.description }}</p>
                    <p class="card-text">Great for {{ product.treatment_type }}!</p>
                    <a href="{{ product.link }}" class="btn btn-outline-info">Buy Here</a>
                    <a href="" class="btn btn-outline-info">Add to Profile</a>
                  </div>
                </div>
                {% endfor %}
              </div>
        </body>
    </html>
{% endblock content %}