{% extends "users/base.html" %}
{% block content %}
{% load static %}
    <! DOCTYPE html>
    <meta charset="UTF-8">
    <html>
        <title>Products</title>
        <div class="container">
            <div class="row">
                    {% for product in products %}
                        <div class="col-sm-4 card-space">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }} </h5>
                                    <p class="card-text">Ingredients: {{ product.ingredients }}</p>
                                    <p class="card-text">Instructions: {{ product.description }}</p>
                                    <p class="card-text">Great for {{ product.treatment_type }}!</p>
                                    <a href="{{ product.link }}" class="btn btn-outline-dark">Buy Here &#128184;</a>
                                    {% if user.is_authenticated %}
                                    <a href="add_to_profile?product_name={{ product.name }}" class="btn btn-outline-info">Add to dewdrop &#128151;</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
    </html>
{% endblock content %}
